workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.7.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.7.0
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.14.1201-node24@sha256:d54e6d9e9599dd4fee616cb7807b2fcc8510ece069fc670ec29c37fa0fda5cb3
