workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.7.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.7.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.14.1227-node24@sha256:b3846255e1ccdebb1c3b7bd20a36cee7f9be9b0a16ae672926144416723b4e6b
