workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.6.2
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.6.2
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.14.1185-node24@sha256:0d849ecc8aefd5c1afbc15ddfe5b7861770e5f1da905dd192de97ce58e32ccf0
