workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.7.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.7.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.14.1230-node24@sha256:59a8a9eaf8670536ec1bd732f6f308501ada57882edd85f05b4f170f363f2797
