stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.13.1043-node24@sha256:7f0ef1babdd3120a4101efbeb10f9681b6072ac1c7e3d4cfb03ee3d5345f82f7
