stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.13.1055-node24@sha256:dc943c06b0b3ee0188cff2d2a1f2d7bf2a34faf277d64afa4624e5106242a3cb
