stages:
  - test

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.13.1061-node24@sha256:2b1d06218bcfb36a71a10e9da8c36cccc76cae94417f4d2e7b503b8c43b5386a
